@media screen and (color) {
    .filter-container label {
        width: 80%;
        position: absolute;
        left: 30px;
    }
    
    .filter-container {
        height: 40px;
        width: 100%;
    }
    
    .all-filters
    {
      position: relative;
      width: 100%;
    }
    
    .filter-container input {
      height: 20px;
      width: 20px;
      left: 50%;
      position: absolute;
      float: left;
    }
    
    select {
        outline: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(/template/images/Stock/arrow-bottom-grey.png) no-repeat 94% center #fff;
        background-size: 11px;
        height: 59px;
        width: 100%;
    }
    
    #products-searched {
        display: none;
    }
    
    #generate, #changed-pos {
        display: none;
    }
    
    #download-fid {
        display: none;
    }
    
    #set-fid {
        visibility: hidden;
    }
    
    #cat-line{
      position: relative;
      background-color: #cac7c7;
    }
    
    #cat-line .title_search_ajax {
        position: absolute;
        top: 1px;
    }
    
    #cat-line .code_search_ajax {
        font-size: 10px;
        position: absolute;
        bottom: 3px;
    }
    
    #all-line{
        position: relative;
        color: #fff;
        background-color: #636463;
    }
    
    #all-line .title_search_ajax {
        position: absolute;
        top: 1px;
    }
    
    #all-line .code_search_ajax {
        font-size: 10px;
        position: absolute;
        bottom: 3px;
    }
    
    .articles-table__name#fid {
        width: 37%;
    }
}